{% extends "_base.twig" %}

{% block everything %}
    <div class="section section_image-background section_dawn section_dawn_short">
        <div class="section__wrapper">
            &nbsp;
        </div>
    </div>

    <div class="section section_silver">
        <div class="section__wrapper h65">
            {% set _menu_size = 's' %}
            {% include 'components/top_menu.twig' %}
        </div>
    </div>

    <!-- this may contain 'spacer' div, see `refuse.twig` -->
    {% block before_content %}
    {% endblock %}

    <div class="section section_silver">
        <div class="section__wrapper">
            {% block content %}{% endblock %}

            <div class="clear"></div>

            {% block footer %}
            <div class="growbox">
                <div class="growbox__item">
                    <div class="growbox__item-wrapper">
                        <div class="growbox__icon growbox__icon_slack"></div>
                        <p>Чтобы заменить friendfeed, работает много людей. Если вы хотите присоединиться и помочь, напишите на <a href="mailto:freefeed.net@gmail.com">freefeed.net@gmail.com</a>. Особенно ценны нам сейчас JS-программисты, но работы всем хватает. </p>
                    </div>
                </div>

                <div class="growbox__item">
                    <div class="growbox__item-wrapper">
                        <div class="growbox__icon growbox__icon_skype"></div>
                        <p>Если вы хотите приватно обсудить важный вопрос про FreeFeed — стучитесь в Skype <a href="skype:vladimiras_lekecinskas?chat">vladimiras_lekecinskas</a>.</p>
                    </div>
                </div>

                <div class="growbox__item">
                    <div class="growbox__item-wrapper">
                        <div class="growbox__icon growbox__icon_octocat"></div>
                        <p>FreeFeed использует наработки проекта Pepyatka, исходники которого <a href="https://github.com/pepyatka/pepyatka">хранятся на Github</a>. Там же есть <a href="https://github.com/zverok/clio/tree/clio2">архиватор Clio</a>, которым можно бэкапить свой фид.</p>

                        <p>Исходные коды этого сайта также <a href="https://github.com/FreeFeed/website">доступны всем желающим</a> :)</p>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="footer__site-title">
                    <span class="site-title">
                        <a class="site-title__link" href="/">FreeFeed.net</a>
                    </span>
                </div>

                <div class="footer__navigation">
                    <ul class="gray-nav">
                        <li class="gray-nav__item"><a href="http://news.freefeed.net/">Новости</a></li>
                        <li class="gray-nav__item"><a href="{{ path('register') }}">Архивация</a></li>
                        <li class="gray-nav__item"><a href="#">Восстановление</a></li>
                        <li class="gray-nav__item"><a href="{{ path('refuse') }}">Отказ от использования</a></li>
                        <li class="gray-nav__item"><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
