{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left">
        <p>Ваш временный аккаунт FreeFeed создан.</p>

        {% if password is not empty %}
            <p>Мы пытались отправить вам емейл с паролем, но что-то пошло не так. Так что вместо этого, мы покажем вам пароль прямо сейчас.</p>
            <p><b>пароль:</b> {{ password }}</p>
            <p>Мы не сохраняем пароль в открытом виде и, поэтому, больше не сможем вам его показать. Сохраните его, позже вы сможете поменять его через интерфейс сайта.</p>
        {% else %}
            <p>Мы отправили вам емейл с паролем и дальнейшими инструкциями.</p>
        {% endif %}
    </div>

    <div class="content content_right">
        {% include 'components/login.twig' %}
    </div>
{% endblock %}
