{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <p>С 20 апреля вы сможете скачать архив вашего фида. Также будут доступны архивы групп и вашех друзей (если они не запретили скачивание, что среди 9167 фидов случилось 37 раз).</p>
    </div>
{% endblock %}
