{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <h2>{{ title }}</h2>

        <p>Всего: {{ users|length }}</p>
        <ul>
            {% for user in users %}
                <li>
                    {{ user.friendfeed_username }}
                    {% if show_emails is defined %}
                        <span style="color:gray">{{ user.email }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
