{% extends '_base+structure.twig' %}

{% block content %}
<div class="content content_left-wide">
    <h2>Неопознаный код</h2>
    <p>Этот код валидации не находится. Либо вы им уже воспользовались, либо его никогда не было.</p>
</div>
{% endblock %}
