{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left">
        &nbsp;
    </div>

    <div class="content content_right">
        {% include 'components/login.twig' %}
    </div>
{% endblock %}
