{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <p>Нельзя просто взять и быстро зарегистрировать некоммерческую организацию в Эстонии!</p>
        <p>Техническая возможность принимать деньги у нас появится в конце апреля (и мы об этом сообщим особо), а пока вы можете <a href="{{ path('moving') }}#needhelp">вложиться усилиями</a>.</p>
    </div>
{% endblock %}
