{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <h2>Процесс переезда</h2>
        <p>Мы переходим на FreeFeed в три этапа:</p>
        <ul>
            <li>архивация (завершён);</li>
            <li>первый запуск (планируется 1 мая);</li>
            <li>полный запуск (дата не определена).</li>
        </ul>

        <p>Ниже — наши ближайшие планы. Если интересующая вас функциональность здесь не указана, напишите вопрос на
            <a href="mailto:freefeed.net@gmail.com">freefeed.net@gmail.com</a> или
            <a href="https://docs.google.com/forms/d/1N6zo9BGu8Hv6aORTfbdjWoFt6xyikTfv-CJA4JoTzmo/viewform?usp=send_form">воспользуйтесь формой</a>.
        </p>

        <h3>Что доступно на сайте сейчас?</h3>
        <ul>
            <li>Подтверждение своего юзернейма (чтобы после открытия регистрации никто не перехватил ваш ник).</li>
            <li>Проверка состояния архива вашего фида (показывается после логина с подтвержденным юзернеймом).</li>
            <li>Отказ от разворачивания бэкапа friendfeed.com на freefeed.net (необязательно отказываться: чтобы бэкап развернули, все равно потребуется ваше явно выраженное согласие).</li>
        </ul>

        <h3>Что будет доступно с 1 мая?</h3>
        <ul>
            <li>Регистрация новых аккаунтов.</li>
            <li>Подписка на пользователей (но не подписка на комментарии или лайки отдельно).</li>
            <li>Чтение фидов, домашний фид (но не списки друзей).</li>
            <li>Написание, редактирование и удаление собственных постов.</li>
            <li>Комментирование (включая редактирование и удаление собственных комментариев).</li>
            <li>Лайки.</li>
            <li>Картинки профиля и дисплейнеймы.</li>
            <li>Скрытие отдельных постов.</li>
            <li>Группы и подписка на них.</li>
        </ul>


        <h3>Что пока НЕ будет доступно?</h3>
        <ul>
            <li>Личные сообщения.</li>
            <li>Приватные фиды.</li>
            <li>Модерация комментариев (редактирование/удаление чужих комментариев у вашего поста).</li>
            <li>Баны и групповое скрытие постов по признаку.</li>
            <li>Удаление аккаунта.</li>
            <li>Букмарклет.</li>
            <li>Списки друзей.</li>
            <li>Воображаемые друзья.</li>
            <li>Импорт внешних сервисов (Twitter и т.д.).</li>
            <li>Почтовые уведомления.</li>
            <li>Оформление фида.</li>
        </ul>

        <h2>Архивы</h2>
        <p>Сейчас архивы всех фидов созданы и хранятся в надёжном месте. После логина FreeFeed показывает состояние вашего архива.</p>
        <p>С 20 апреля будет доступно скачивание вашего архива (только для подтвержденных пользователей!). После первомайского запуска мы начнём делать разворачивалку архивов.</p>

        <h2 id="needhelp">Нужна ли нам помощь?</h2>
        <p>Да! Пишите на <a href="mailto:freefeed.net@gmail.com?subject=Хочу%20помогать">freefeed.net@gmail.com</a> с темой “Хочу помогать” и перечислением, что вы умеете и готовы делать.</p>

        <p>Сейчас сильнее всего требуются люди, которые знают:</p>
        <ul>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>Gherkin/Cucumber</li>
        </ul>

        <p>Люди, которые умеют писать тексты, тоже нужны! Желательно на английском, но пригодятся и русскоязычные тексты (у нас есть переводчики). А еще мы ждем любопытствующих тестировщиков (специальные технознания тут не требуются).</p>
    </div>
{% endblock %}
