{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left">
        <h1>Ура!</h1>
        <p>Ваш аккаунт на FreeFeed был успешно создан. Логин и Пароль такие же как на этом сайте. <a href="https://freefeed.net/session/signin">Заходите</a>!</p>
        <p>[<a href="{{ path('status') }}">вернуться</a>]</p>
    </div>

    <div class="content content_right">
        &nbsp;
    </div>
{% endblock %}
