{% extends "_base+structure.twig" %}

{% block before_content %}
    <div class="section section_white">
        <div class="section__wrapper">
            <div class="page-icon page-icon_tap"></div>
            <h2 class="page-title">Отказ от использования</h2>
            <div class="page-subtitle">На этой странице вы можете отказаться использовать сервис FreeFeed.net и запретить нам выводить ваши данные <span class="ghost_text">из себя</span></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content content_left">
        <h3>Как это работает?</h3>
        <p>Хотите быть полностью уверенными, что ваши данные (комментарии, посты, любой ваш контент) не будут выводиться на сервисе FreeFeed.net? Заполните форму справа и нажмите «Отказаться от freefeed.net».</p>

        <h3>Обязательно ли использовать эту форму?</h3>
        <p>Не обязательно. Даже если вы не откажетесь явным образом от использования сервиса, мы без вашего разрешения не будем публиковать ваш контент нигде.</p>
        <p>Тем не менее, если вы не воспользуетесь формой справа, то мы не сможем после 9 апреля надежно идентифицировать вас как пользователя N = хозяина вашего контента. И тогда, если позже вы измените своё решение (и захотите восстановить ваши посты и комментарии на FreeFeed.net) — восстановление будет уже невозможным.</p>

        <h3>Зачем вам мой API ключ? Вы же всё скачаете?</h3>
        <p>API ключ и адрес вашей электронной почты нам нужны для того, чтобы опознать вас после 9 апреля. <strong>Автоматически</strong> идентифицировать пользователя, если он не ввел ключ сейчас и не участвовал в акции «сообщи нам свой емейл», после 9 апреля будет невозможно.</p>
        <p>API ключ действительно даёт нашим администраторам (<a href="https://friendfeed.com/zverok">@zverok</a>, <a href="https://friendfeed.com/mbravo">@mbravo</a>) доступ ко всему вашему контенту. Тем не менее, если вы используете эту форму справа, это не приведет к скачиванию куда-либо «direct messages» или какого-то еще контента.</p>
        <p>Чтобы обеспечить второй способ идентификации, мы устраивали акцию «пошли нам директ с емейлом», но этот способ менее надежен (например, вы могли сделать опечатку в емейле или разваливающийся friendfeed мог незаметно проглотить ваше сообщение). Если вы хотите отказаться от FreeFeed наверняка и с огромным запасом прочности :) — введите ключ API в форме справа.</p>
        <p><strong>Важно:</strong> этот сайт не хранит API ключ, он только показывает его Clio (которая участвует в валидации) и тут же забывает.</p>

        <h3>Мне по-прежнему непонятно кое-что. И что мне делать?</h3>
        <p>Напишите по адресу <a href="mailto:freefeed.net@gmail.com">freefeed.net@gmail.com</a> и мы постараемся вам быстро ответить.</p>

        <h3>Я вижу, как вот это вот всё можно сделать лучше!</h3>
        <p>Наиболее полезна конкретная работа, либо детализированная техническая спецификация улучшений. Если вы способны предоставить первое или второе — мы вас очень ждём, напишите,  пожалуйста, туда же: <a href="mailto:freefeed.net@gmail.com">freefeed.net@gmail.com</a>.</p>
    </div>

    <div class="content content_right">

        <p><span class="mini">Для того, что бы заблокировать использование ваших данных (комментариев, постов) с friendfeed.com на freefeed.net, введите:</span></p>

        <div class="opt-out-form__wrapper">
            <form class="opt-out-form">
                <div class="opt-out-form__label-wrapper">
                    <label for="username">Имя пользователя:</label>
                </div>
                <div class="opt-out-form__field-wrapper">
                    <input class="opt-out-form__text-input" id="username" name="username" type="text" placeholder="Username"/>
                </div>
                <div class="opt-out-form__label-wrapper">
                    <label for="api_key">Ключ API (<a href="/">где он?</a>):</label>
                </div>
                <div class="opt-out-form__field-wrapper">
                    <input class="opt-out-form__text-input" id="api_key" name="api_key" type="password" placeholder="API key"/>
                </div>
                <div  class="opt-out-form__label-wrapper">
                    <label for="email">Ваш контактный адрес:</label>
                </div>
                <div  class="opt-out-form__field-wrapper">
                    <input class="opt-out-form__text-input" id="email" name="email" type="text" placeholder="Email"/>
                </div>
                <div class="opt-out-form__checkbox-container">
                    <div class="opt-out-form__checkbox-wrapper">
                        <input class="opt-out-form__checkbox" id="accept-conditions" name="accept-conditions" type="checkbox"/>
                    </div>
                    <label for="accept-conditions" class="opt-out-form__checkbox-label">Я прочитал все условия и согласенс ними </label>
                </div>
                <div class="opt-out-form__submit-wrapper">
                    <button class="opt-out-form__submit" type="submit">Отказаться от<br/>freefeed.net</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
