{% extends '_base+structure.twig' %}

{% block content %}
<div class="content content_left">
    <h1>Ура!</h1>
    <p>Мы отправили вам письмо по электронной почте. Пройдите, пожалуйста, по ссылке указанной в нём, чтобы продолжить.</p>
</div>

<div class="content content_right">
    &nbsp;
</div>
{% endblock %}
