{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left">
        {% if errors|length > 0 %}
            <div>
                {% for error in errors %}
                    <p class="error"><b>{{ error.field }}:</b> {{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <p>Если вы присылали нам свой email френдфидовским директом, то для валидации вашего @username достаточно указать email и имя вашего аккаунта на friendfeed. </p>
        <p>Если же вы не присылали нам идентификационный емейл, но использовали для архивации <a href="/clio/"Clio 2.0</a>, то вы можете валидироваться с использованием email, имени аккаунта и remote key.</p>
        <p>Сделайте это, пожалуйста. Форма — справа. Что-то не работает? Напишите скорее Алексею на <a href="mailto:indeyets@gmail.com">indeyets@gmail.com</a>, он починит.</p>
        <p>У нас пока нет финальной версии «условий использования FreeFeed.net». Регистрируясь, вы соглашаетесь с тем, что, когда эти условия будут сформулированы (мы об этом сообщим), вы должны будете в явной форме (например, поставив отметку в настройках аккаунта) согласиться или не согласиться с ними.</p>
        <p>А до этого момента ваш аккаунт во FreeFeed будет считаться «временным демо-доступом» (это относится к 100% пользователей).</p>
        <p><b>ALERT:</b> если вы не зарегистрируетесь (и соответственно, не дадите нам адреса email), мы не сможем присылать вам новости про открытие и развитие FreeFeed.</p>
    </div>

    <div class="content content_right">
        {% include 'components/register.twig' %}
    </div>
{% endblock %}
