{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <p>Восстановление вашего архива из бэкапа будет доступно позже. Не отписывайтесь от нашей рассылки, чтобы не пропустить появление этой возможности.</p>
    </div>
{% endblock %}
