{% extends '_base+structure.twig' %}

{% block content %}
    <div class="content content_left-wide">
        <p>Страница настроек — не самая приоритетная задача, поэтому здесь пока ничего нет.</p>
    </div>
{% endblock %}
